/*
se modifuico [Ventas].[TipoComprobante]

[Ventas].[proc_DatosComprobante]
[Ventas].[proc_ListarParaEnvioSUNAT]
[Ventas].[proc_ActualizarEstadoSunat]
contabilidad.proc_ListarFacturacionElectronica

update ventas.cliente set Email = 'julio.anyosa@outlook.com'
*/




select * from [Ventas].[TipoComprobante]











 



  
